In [2]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [24]:
data_norm = pd.read_csv('C:/Users/Marselo/Documents/Github2/product3team9/notebooks/marselo/funda_preprocessed2.csv')
data_norm.head()

,categorieObject,indTuin,perceelOppervlakte,aantalKamers,aantalBadkamers,oppervlakte,selling_days,house_age,koopPrijs,energielabelKlasse_A,energielabelKlasse_B,energielabelKlasse_C,energielabelKlasse_D,energielabelKlasse_E,energielabelKlasse_F,energielabelKlasse_G,energielabelKlasse_no_label
0,1,1,208.0,5,1.0,136,-25,40,209000.0,0,1,0,0,0,0,0,0
1,0,0,70.0,3,1.0,70,113,19,267500.0,0,0,0,0,0,0,0,1
2,1,1,208.0,5,1.0,144,132,47,349000.0,0,0,0,0,0,0,0,1
3,1,0,208.0,8,1.0,323,123,120,495000.0,0,0,0,0,0,0,0,1
4,1,1,208.0,4,1.0,68,243,50,162500.0,0,0,0,0,0,0,0,1

In [70]:
data.columns

Index(['categorieObject', 'indTuin', 'perceelOppervlakte', 'aantalKamers',
       'aantalBadkamers', 'oppervlakte', 'selling_days', 'house_age',
       'koopPrijs', 'energielabelKlasse_A', 'energielabelKlasse_B',
       'energielabelKlasse_C', 'energielabelKlasse_D', 'energielabelKlasse_E',
       'energielabelKlasse_F', 'energielabelKlasse_G',
       'energielabelKlasse_no_label'],
      dtype='object')

#### Splitting training and test data

In [92]:
train, test, validate = np.split(data_norm.sample(frac = 1, random_state = 9), [int(0.6*len(data)), int(0.8*len(data))])

x_train = train.loc[:, train.columns != 'koopPrijs']
y_train = train['koopPrijs']


x_test = test.loc[:, test.columns != 'koopPrijs']
y_test = test['koopPrijs']

x_validate = validate.loc[:, validate.columns != 'koopPrijs']
y_validate = validate['koopPrijs']

In [6]:
train, test = np.split(data_norm.sample(frac = 1, random_state = 9), [int(0.8*len(data_norm))])

x_train = train.loc[:, train.columns != 'koopPrijs']
y_train = train['koopPrijs']


x_test = test.loc[:, test.columns != 'koopPrijs']
y_test = test['koopPrijs']

In [31]:
import sklearn
data_norm = sklearn.utils.shuffle(data_norm)
data_norm = data_norm.reset_index()

In [32]:
train = data_norm.loc[0:int(0.8*len(data_norm)), ]
test = data_norm.loc[int(0.8*len(data_norm)):len(data_norm), ]

In [33]:
test

,index,categorieObject,indTuin,perceelOppervlakte,aantalKamers,aantalBadkamers,oppervlakte,selling_days,house_age,koopPrijs,energielabelKlasse_A,energielabelKlasse_B,energielabelKlasse_C,energielabelKlasse_D,energielabelKlasse_E,energielabelKlasse_F,energielabelKlasse_G,energielabelKlasse_no_label
164076,31759,1,1,208.0,5,1.0,96,53,50,157500.0,0,0,0,1,0,0,0,0
164077,193736,0,0,75.0,4,1.0,75,38,55,147500.0,0,0,0,0,0,0,0,1
164078,187487,1,1,208.0,5,1.0,145,222,47,265000.0,0,0,0,0,0,0,0,1
164079,67679,1,1,208.0,4,1.0,145,6,42,325000.0,0,0,1,0,0,0,0,0
164080,187530,0,0,103.0,3,1.0,103,19,8,369000.0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205091,155974,1,1,208.0,4,1.0,109,16,40,319000.0,0,0,0,0,0,0,0,1
205092,173797,0,0,100.0,4,1.0,100,25,22,635000.0,0,1,0,0,0,0,0,0
205093,35672,1,0,208.0,4,1.0,115,0,47,199000.0,0,0,0,0,0,0,0,1
205094,196888,1,1,208.0,5,1.0,107,121,56,229000.0,0,0,1,0,0,0,0,0
205095,11618,1,1,208.0,5,1.0,115,49,27,279000.0,0,1,0,0,0,0,0,0

In [133]:
def build_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(1, activation='relu', input_shape=[len(x_train.keys())]),
    tf.keras.layers.Dense(1, activation='relu'),
    tf.keras.layers.Dense(1)
  ])


  optimizer = tf.keras.optimizers.SGD(learning_rate = 0.01)

  model.compile(loss='mse',
                optimizer=optimizer,
                metrics=['mae', 'mse'])
  return model

In [134]:
model = build_model()
model.summary()

EPOCHS = 100
early_stopping = tf.keras.callbacks.EarlyStopping(patience=2)
history = model.fit(
  x_train, y_train,
  epochs=EPOCHS, validation_data = (x_validate, y_validate), verbose=2,
  callbacks=([early_stopping]))

Model: "sequential_31"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_85 (Dense)             (None, 1)                 17
_________________________________________________________________
dense_86 (Dense)             (None, 1)                 2
_________________________________________________________________
dense_87 (Dense)             (None, 1)                 2
=================================================================
Total params: 21
Trainable params: 21
Non-trainable params: 0
_________________________________________________________________
Epoch 1/100
3846/3846 - 4s - loss: 41473155072.0000 - mae: 129617.2188 - mse: 41473155072.0000 - val_loss: 43301363712.0000 - val_mae: 130164.9531 - val_mse: 43301363712.0000
Epoch 2/100
3846/3846 - 3s - loss: 40792293376.0000 - mae: 128758.4688 - mse: 40792293376.0000 - val_loss: 43299536896.0000 - val_mae: 130389.0625 - val_mse: 43299536896.0000
Epoch 3/100
3846/3846 - 3s - loss: 40789463040.0000 - mae: 128750.1250 - mse: 40789463040.0000 - val_loss: 43314724864.0000 - val_mae: 131689.9375 - val_mse: 43314724864.0000
Epoch 4/100
3846/3846 - 3s - loss: 40789778432.0000 - mae: 128789.3750 - mse: 40789778432.0000 - val_loss: 43318345728.0000 - val_mae: 129414.0625 - val_mse: 43318345728.0000

In [135]:
pred = model.predict(x_test)
pred

array([[316909.34],
       [316909.34],
       [316909.34],
       ...,
       [316909.34],
       [316909.34],
       [316909.34]], dtype=float32)